@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
    /* colors are changeable always more combinations are in "https://coolors.co/" */

    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --Light-Gray: hsl(0, 0%, 75%);
    --clr-Transparent-Soft-violet: hsla(0, 0%, 0%, 0.5);

    /* animation and some effects */
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

    /* font-fam*/
    --body-font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}


/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

body {
    font-family: var(--body-font-family);
    text-decoration: var(--text-dec);
    background-color: var(--white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    font-size: 16px
}

.underline {
    cursor: pointer !important;
}

button:hover {
    color: #e5425b;
}